/* 
    Document   : getting_started
    Created on : Jun 4, 2013, 12:12:05 AM
    Author     : Sankalp
    Description:
        Purpose of the stylesheet follows.
*/

#container{
    overflow-x:hidden;
    background:white;
    width:100%;
    height:100%;
}

#intro{
    opacity: 0;
    margin-left:100%;
    margin-top:10%;
    width:100%;
}

#intro span{
    width:100%;
}

#intro span img{
    width:60%;
}

#working_div{
    display:none;
}

#intro1{
    width:100%;
    height:100%;
}

h1{
    font-weight:lighter;
    font-size:80px;
}

#intro1 h1{
    margin-top:30px;
}

#intro1 h2{
    font-weight:lighter;
    font-size:40px;
}

#mdl{
    width:80%;
    display:table;
}

.pt{
    float:left;

    border:1px solid #ccc;
    border-radius:3px;
    background:white;
    margin-left:20px;
    margin-top:20px;
}

.pt p{
    color:#555;
    font-weight: bold;
    padding:10px;
    text-align: left;
}

.pt div{
    width:240px;
    height:135px;
    display:table;
}

.pt img{
    width:100%;
    height:100%;
}

#intro2{
    display:none;
    width:100%;
    height:100%;
}

#i2l{
    float:left;
    width:50%;
}

#i2l table{
    margin-left:80px;
    margin-top:40px;
    text-align: justify;
}

#i2l table tr td{
    width:50%;
    padding:20px;
    background:#ededed;
    vertical-align: top;
}

#i2r{
    float:left;
    width:40%;
}

#i2r{
    margin-top:40px;
}

#intro3{
    display:none;
    width:100%;
    height:100%;
}

#sdiv{
    background:white;
    margin-top:25%;
    margin-top:calc(25% - 6.875em);
}

#search{
    width:50%;
    height:50px;
    padding:5px 10px;
    font-size:25px;
    background:white;
}

#resultdiv{
    display:none;
    width:100%;
    margin-top:20px;
    background:#f6f6f6;
    clear:both;
}

#menudiv{
    width:100%;
    display:none;
}

#post_menu{
    background:white;
    width:100%;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    padding:10px 20px;
    -webkit-box-shadow:  0 5px 5px -2px #888 ;
    -moz-box-shadow:  0 5px 5px -2px #888 ;
    box-shadow:  0 5px 5px -2px #888 ;
    -o-box-shadow: 0 5px 5px -2px #888 ;
}

#postarena{
    padding:20px;
    width:100%;
    width:calc(100% - 2.5em);
}

.circle{
    margin-top:10px;
    background:#BBC1C9;
    width:10px;
    height:10px;
    border-radius:50%;
    float:right;
    margin-right:5px;
    cursor:default;
}

.circle:first-of-type{
    margin-right:5%;
}